body {
			font-family: "open sans";
		}

.imgHeader {
	float: right;
}

		#main {
			display: grid;
			grid-template-columns: 1fr 3fr 1fr;
			grid-gap: 2em;
		}

		.allContent {
			grid-column: 2 / 3;
		}

		#container {
			display: grid;
			grid-template-columns: 1fr 1fr 1fr 1fr;
			grid-gap: 2em;
		}

		.title {
			text-align: center;
			border: 1px solid rgb(111, 107, 138);
			background-color: rgb(37, 138, 215);
			border-radius: 10px;
			margin-bottom: 10px;
			color: white;
		}

		.food-container {
			width: 250px;
			border: 1px solid rgb(217, 217, 217);
			border-radius: 5px;
			justify-self: center;
			text-align: center;
			padding: 10px 0px
		}

		.inputContent {
			display: grid;
			grid-template-columns: 1fr 50px;
			margin-bottom: 7px;
			box-sizing: border-box;

		}

		.inputContent input {
			padding: 10px;
			outline: 0;
		}

		.inputContent input[type=text] {
			border: 1px solid rgb(217, 217, 217);
			border-radius: 10px 0 0 10px;
		}

		.inputContent input[type=button] {
			border-radius: 0 10px 10px 0;
		}

		.dishOptions div {
			cursor: pointer;
			display:inline-flex;
			padding: 10px 10px;
		}

		input[type=checkbox] {
			appearance: none;
			-moz-appearance: none;
			-webkit-appearance: none;
			outline: 0;
		}

		.heartBlack::before {
			content: "ðŸ–¤";
		}

		.heart::before {
			content: "â¤ï¸";
		}