body {
			font-family: "open sans", 'Verdana', 'Helvetica';
		}

		label{
			font-family: "Consolas", "Courier new", "monospace";
		}

		i {
			font-style: normal;
		}

.imgHeader {
	float: right;
}

.imgSU /* SELECCION UNICA */
{
	grid-column-start: 3;
	align-self: center;
}

.SU-opt {
	padding: 5px 0
}

.SU-incorrect {
	color: red;
}

.SU-correct {
	color: lightseagreen;
}

.SU-validate {
	grid-column-start: 2;
	display: inline-grid;
	justify-content: center;
	position: relative;
}

.RB-question {
	padding: 4px 0
}

.RB-input
{
	border: none;
	border-bottom: 1px solid grey;
}

.RB-multipleAnswers
{
	display: contents;
}

.gridSU
{
	display: grid;
	grid-template-columns: 150px 100px 1fr;
	grid-gap: 2em;
}

.gridSU-options
{
	display: grid;
	align-content: space-around !important;
}

		#main {
			display: grid;
			grid-template-columns: 1fr 14fr 1fr;
			grid-gap: 1em;
		}

		.allContent {
			grid-column: 2 / 3;
		}

		#container {
			display: grid;
			grid-template-columns: 1fr 1fr 1fr 1fr;
			grid-gap: 1em;
		}

		.title {
			text-align: center;
		}

		.titleContent {
			padding-bottom: 10px;
			border-bottom: 1px solid rgb(111, 107, 138);
		}

		.food-container {
			width: 250px;
			border: 1px solid rgb(217, 217, 217);
			border-radius: 5px;
			justify-self: center;
			text-align: center;
			padding: 10px 0px
		}

		.inputContent {
			display: grid;
			grid-template-columns: 1fr 50px;
			margin-bottom: 7px;
			box-sizing: border-box;

		}

		.inputContent input {
			padding: 10px;
			outline: 0;
		}

		.inputContent input[type=text] {
			border: 1px solid rgb(217, 217, 217);
			border-radius: 10px 0 0 10px;
		}

		.inputContent input[type=button] {
			border-radius: 0 10px 10px 0;
		}

		.dishOptions div {
			cursor: pointer;
			display:inline-flex;
			padding: 10px 10px;
		}

		input[type=checkbox] {
			appearance: none;
			-moz-appearance: none;
			-webkit-appearance: none;
			outline: 0;
		}

		.heartBlack::before {
			content: "ðŸ–¤";
		}

		.heart::before {
			content: "â¤ï¸";
		}