body {
			font-family: "open sans", 'Verdana', 'Helvetica';
		}

		label{
			font-family: "Consolas", "Courier new", "monospace";
		}

		i {
			font-style: normal;
		}

.imgHeader {
	float: right;
}

.imgSU /* SELECCION UNICA */
{
	grid-column-start: 3;
	align-self: center;
}

.SU-opt {
	padding: 5px 0
}

.SU-incorrect {
	color: red;
}

.SU-correct {
	color: lightseagreen;
}

.SU-validate {
	grid-column-start: 2;
	display: inline-grid;
	justify-content: center;
	position: relative;
}

.RB-question {
	padding: 4px 0
}

.RB-input
{
	border: none;
	border-bottom: 1px solid grey;
}

.RB-multipleAnswers
{
	display: contents;
}

.gridSU
{
	display: grid;
	grid-template-columns: 150px 100px 1fr;
	grid-gap: 2em;
}

.gridSU-options
{
	display: grid;
	align-content: space-around !important;
}

#btnValidate {
	padding: 5px 10px;
}

		#main {
			display: grid;
			grid-template-columns: 1fr 14fr 1fr;
			grid-gap: 1em;
		}

		.allContent {
			grid-column: 2 / 3;
		}

		#container {
			display: grid;
			grid-template-columns: 1fr 1fr 1fr 1fr;
			grid-gap: 1em;
		}

#btn-NotaFinal {
	border-radius: 7px;
    width: 100%;
    font-family: "open sans", 'Verdana', 'Helvetica';
    font-size: x-large;
    background-color: #2988c4;
    color: white;
}

.hideNote {
	visibility: hidden !important;
}

.showNote {
	visibility: visible;
	width: 100%;
	font-family: "open sans", 'Verdana', 'Helvetica';
	font-size: x-large;
}