@font-face {
    font-family: 'Montserrat';
    src: url('./Montserrat.ttf') format('opentype');
}

body {
	font-family: 'Montserrat';
	font-size: 14px;
	line-height: 160%;
}

.banner {
	  position: fixed;
    height: 60px;
		background-color: #003DAF;
		color: #55B5ED;
    width: 100%;
    display: grid;
    align-content: center;
    border-bottom: 4px solid #00379D;
		font-size: x-large;
		z-index: 1;
		margin-top: -8px;
		padding-left: 10px;
}

.container {
	display: grid;
	padding-top: 65px;
  grid-template-columns: 2fr 10fr 2fr;
}

.container-question {
	display: grid;
	grid-template-columns: 3fr 9fr;
}

.col2-content {
	grid-column-start: 1;
	grid-column-end: 1;
	
}

.col2-answer {
	grid-column-start: 2;
	grid-column-end: 2;
}

.splitter {
	border-bottom: 1px solid #E0E4E8;
	padding-bottom: 10px;
	margin: 0 -36px 15px -36px;
}

.splitter-2 {
	border-bottom: 1px solid #E0E4E8;
	padding-bottom: 10px;
	margin: 0 -32px 15px -32px;
}

.questions {
	grid-column-start:  1;
	grid-column-start: 2;
	border: 1px solid #6DBFD7;
	border-top: 0;
	padding: 0 35px 0 35px;
	margin-top: 5px;
}

.questions-part2 {
	grid-column-start:  1;
	grid-column-start: 2;
	border: 1px solid #6DBFD7;
	border-top: 0;
	padding: 0 30px 0 30px;
}

.header {
	border-bottom: 1px solid #0089E5;
	background-color: #0089E5;
	color: #ECF0F3;
	margin: -7px -36px 10px -36px;
	padding: 20px 15px;
	border-radius: 10px 10px 0 0;
	font-size: larger;
}

.header-part2 {
	border-bottom: 1px solid #0089E5;
	background-color: #0089E5;
	color: #ECF0F3;
	margin: -7px -31px;
	padding: 20px 15px;
	font-size: larger;
}

.order {
	margin-left: -25px;
	position: absolute;
}

textarea {
	border-radius: 2px;
	border: 1px solid #E0E4E8;
	width: 100%;
}

input {
    background-color: #E6EBFC;
    color: #321ca9;
    border: 2px solid;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    font-family: "Montserrat";
    font-size: 15px;
}

select {
	font-family: "Montserrat";
	font-size: 15px;
	padding: 3px 5px;
	border-radius: 3px;
}

i {
	font-style: normal;
}

.warning {
	color: red;
	display: none;
}